/node_modules
/public/web_ecep/vendor
/public/web_ag/vendor
/public/hot
/public/storage
/public/tmp_file*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/uploads
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.json
composer.lock
/app/Http/Controllers/Api/ecep/conexion_drive/*
.htaccess
error_log
public/app_postulacion/js/utils.js
public/web_ecep/vendor/utils.js
public/web_ecep/error_log