/node_modules
/public/web_ecep/vendor/utils.js
/public/web_ag/vendor/utils.js
/public/hot
/public/storage
/public/tmp_file*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/uploads
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

