/*.login{
    background-image: url("../img/fondo_login.png");
}*/
body{
    
    /*font-family: 'Niramit', sans-serif !important;*/
font-color:#cccccc;
   
}
.fondo {
    background: #fff url('../img/foto_ENDFID_2019.jpg') no-repeat;
    background-size: cover;
    height: auto;
    /*z-index: 1;*/
    
    
}

/*ENCABEZADO*/
.encabezado{
    background-color: #6850C9;
    color:white;
    padding:10px;
    top: 0px;
    position: absolute;
    width: 100%;
    max-width: 810px;
    z-index: 810px;
  /*margin-top: -20px;*/
}

.dropdown-menu.show {
    top: 22px !important;
    width:auto;
}


._container-form {
    padding-top: 20px;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    padding-left: 0px;
    padding-right: 0px;
}
.card-centros{
    background: #fff;
    height: 240px; 
    /* width: 75em; */
    box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
    border-radius: 25px;
    padding: 8px 30px;
    margin-bottom: 20px;
    /* padding-left: 5% !important; */
}

#containerCentros{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0%;
}

.cardLinea{
    margin-bottom: 0.5rem !important;
    /*border-top: 3px solid #03a9f4;*/
    border-top: 3px solid #6850C9;
}

.card-aling{
    position: absolute;
    top: 20%;
    left: 25%;
    /* height: 30%; */
    width: 100%;
    margin: -11% -9px 4px -17%;
}


.modbody{
  /* height: 650px; */
  width: 100%;
  overflow-y: auto;
}

.content {
  max-width: 810px!important;
  margin: auto;
}

.login {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;
    max-width: 380px;
    text-align: center;
    color: #6850C9;
    position: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.separador{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c0c0c0;
    height: 3px;
    border-radius: 18px 18px 18px 18px;
}

.separador2{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c0c0c0;
    height: 1px;
    border-radius: 18px 18px 18px 18px;
}

.block {
  background: rgba(0, 0, 0, .3) url('https://thumbs.gfycat.com/LameDifferentBalloonfish-max-1mb.gif') no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.separador-novisible{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border-color: transparent;
    height: 0px;
}

.separador-novisible2{
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: transparent;
    border-color: transparent;
    height: 0px;
}

._input-rounded{
    border-radius: 18px 18px 18px 18px !important;
}

._input-rounded-left{
    border-radius: 18px 0px 0px 18px !important;
}

._input-rounded-right{
    border-radius: 0px 18px 18px 0px !important;
}

._nav{
    background-color: #6850C9;
   
    background-size: cover;
    height: auto;
}

._nav-left{
    background-color: #6850C9;
    height: 80px;
    position: relative;
    z-index: 999;
}

._nav-center{
    margin-left: 30px;
}

._nav-right{
    width: 25%;
    margin-top: 10px;
    margin-left: -20px;

}

.no_separar{
        white-space:nowrap;
    }

._tex_mora{
 color: #6850C9;
}

._bg_gris{
    background-color: #f2f2f2;
}

._bg_gris2{
    background-color: #cccccc;
}

._bg_azulClaro{
    background-color: #9999ff;
}

._bg_azulClaro2{
    background-color: #C2E4F0;
}

._bg_azulClaro3{
    background-color: #e6f5ff;
}

._bg-green{
    background-color: green;
}

._bg-verdeClaro{
    background-color: #c6ecc6;
}

._bg-red{
    background-color: red;
}

._text-red{
    color: red;
}

.blackout{
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
    
}

._text-green{
    color: green;
}

#cardSeccion1, #cardSeccion3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.colo-m{
    color:#5B44BF;
    background:#F8F9F9; 
    padding-top: 63%;
    padding-bottom: 63%;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'Niramit', sans-serif;
    font-size: 21px;

}

.colo-m:hover{
    color:#5B44BF;
     background:#fff; 
}

.input-group-text{
  text-align: left;  
  display: inline-block;
  width: 175px;
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 10px;
  margin-right: 20px
}

input{

    border-radius: 0px !important;
    color: #495057;
}

#documento_1, #documento_2, #documento_3, #documento_4{
    padding: 0px;
    margin-bottom: -1px;
}


.card-centros{
    background: #fff;
    height: 210px; 
    
    margin: 1%;
    /* width: 75em; */
    box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
    border-radius: 25px;
   
}

.text-white{
    font-size: 28px;
}

.ml-5{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.sin-bordes{
    border: 0px solid;
    
}

.blockUI.blockMsg.blockPage {

    border-radius: 15px;
    background-color: #262626 !important;
    color: #ffffffb3 !important;
    cursor: default !important;
    border: none !important;

}

.btn-loginn {
    
    background-color: #6850C9 !important;
    color: #fff;
    height: 35px;
    width: 90%;
    font-family: 'Niramit', sans-serif;
    font-size: 16px !important;
    font-weight: 500 !important;
    
}
.btn-loginn:hover {
    
    color: #fff;
    background-color: #5B44BF !important;
    height: 35px;
    width: 90%;
    font-family: 'Niramit', sans-serif;
    font-size: 16px !important;
    font-weight: 500 !important;
    
}

.footer_content {
    padding: 15px 0px 40px 0px;
    background-image: url(../img/footer_linea.png);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: top;
    position: relative;
    font-size: 12px;
    background-color: #FFF;
    color: #757575;
    width: 100%;
    margin-top: 50px;
}

.footer_content p {
    margin: 0px;
}

.footer_barra {
    background-image: url(../img/footer_linea.png);
    background-size: 100%;
    width: 200px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.more-less {
    float: right;
}

.error_show{
    color: red;
}
.invalid{
    background: #fba;
}

.m-6{
    margin: 15rem !important;
}


.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}
.text-wit{
    color: #fff;
    font-size: 11px;
}

.texto-withe{
    color: #fff;
    font-size: 7px;
}

.ml-4{
    margin-left: 7rem !important;
}

.ml-6{
    margin-left: 18rem !important;
}

.mr-6{
    margin-right: 15rem !important;
}

.mt-6{
    margin-top: 15rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.mt-4{

    margin-top: 8rem !important;
}

.mt-3{

    margin-top: 6rem !important;
}

.mt-2{

    margin-top: 2rem !important;
}



#compRun{
    margin-bottom: 0px;
}

#form_endfid{
    margin-top: 10%;
    }
.mg_top{
    margin-top: 10%!important;
}
@media(max-width: 575px){
    #form_endfid{
            margin-top: 21%;
    }
    .mg_top{
    margin-top: 17%!important;
    }
}
@media(max-width: 476px){
    #form_endfid{
            margin-top: 25%;
    }
    .mg_top{
    margin-top: 23%!important;
    }
}

@media(max-width: 400px){
    #form_endfid{
            margin-top: 30%;
    }
    .mg_top{
    margin-top: 25%!important;
    }
}
@media(max-width: 575px){
    .card-centros{
        height: 185px;
        margin-top: 8%;
    }
    .paaddtop{
      padding-top: 6%;  
    }
    
}
